@charset "utf-8";
/* CSS Document */
@font-face {
font-family: "JurajIlić";
src: url("MapaMaterijali/JurajIlić.ttf");
}
@font-face {
font-family: "NewYork";
src: url("MapaMaterijali/NewYork.otf");
}
.gallery {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.gallery figure {
  text-align: center;
  margin: 0;
}

.gallery img {
  width: 600px;
  height: 600px;
  border-radius: 8px;
}

.gallery figcaption {
  font-size: 18px;
  color: white;
  text-shadow: 2px 2px 4px #000;
  margin-top: 8px;
  margin-bottom: 20px
  font-family: 'NewYork';
  }
  
  .row {
  margin-bottom: 100px;
}
  
  figcaption {
  font-size: 18px;
  color: white;
  text-shadow: 2px 2px 4px #000;
  margin-top: 8px;
  font-family: 'NewYork';
  }
  
ul a.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: black;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  margin-right: 5px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  border: 2px white;
}

a.button:hover {
  background-color: white;
  color: black;
  border: 2px black;
}
li {
  display: inline-block;
  margin-right: 50px;
  font-family: 'NewYork';
  font-size: 50px;
  color: black;
  text-shadow: 3px 3px 3px #000, 3px 3px 3px #000, 3px 3px 3px #000;
  line-height: 50px;
text-indent: 0px;
}
h2 {
font-family: 'NewYork';
font-size: 100px;
color: palevioletred;
text-shadow: 5px 5px 5px #000, 5px 5px 5px #000, 5px 5px 5px #000;
line-height: 50px
}
h1{
color: white;
text-shadow: 5px 5px 5px #000, 5px 5px 5px #000, 5px 5px 5px #000;
}
body {
background-image: url("Slike/pozadina1.jpg");
}
p{
font-family: 'NewYork';
font-size: 30px;
color: white;
text-shadow: 5px 5px 5px #000, 5px 5px 5px #000, 5px 5px 5px #000, 5px 5px 5px #000, 5px 5px 5px #000, 5px 5px 5px #000;
line-height: 35px;
margin-left: 15px;
}
h3{
 font-family: 'NewYork';
  font-size: 70px;
  color: cadetblue;
  text-shadow: 2px 4px 5px #000, 3px 2px 4px #000, 4px 2px 1px #000;
  line-height: 30px;
  margin-top: 130px;
}
iframe{ 
margin-left: 30px;
}